In [36]:
import pandas as pd
import numpy as np

In [37]:
framing = ['N', 'P', 'N', 'P', 'N', 'N', 'P']

In [38]:
csv_file = "upitnik_odgovori_faza1.csv"
df = pd.read_csv(csv_file, index_col=False, sep=',', encoding="utf16")

In [39]:
df.head()

,CASE,SERIAL,REF,QUESTNNR,MODE,STARTED,DE01,DE02_01,DE03,PF02,...,MAILSENT,LASTDATA,FINISHED,Q_VIEWER,LASTPAGE,MAXPAGE,MISSING,MISSREL,TIME_RSI,DEG_TIME
0,Interview number (ongoing),Serial number (if provided),Reference (if provided in link),Questionnaire that has been used in the interview,Interview mode,Time the interview has started (Europe/Berlin),Pol,Godine: [01],Obrazovanje,Alchemist,...,Time when the invitation mailing was sent (per...,Time when the data was most recently updated,Has the interview been finished (reached last ...,Did the respondent only view the questionnaire...,Last page that the participant has handled in ...,Hindmost page handled by the participant,Missing answers in percent,Missing answers (weighted by relevance),Degradation points for being very fast,Degradation points for being very fast
1,87,NaN,NaN,base,interview,2022-03-09 22:45:05,2,19,3,2,...,NaN,2022-03-09 22:49:05,0,0,10,10,0,0,1.26,20
2,93,NaN,NaN,base,interview,2022-03-10 01:25:20,2,19,3,2,...,NaN,2022-03-10 01:30:57,1,0,11,11,0,0,0.96,5
3,94,NaN,NaN,base,interview,2022-03-10 08:44:13,2,19,3,1,...,NaN,2022-03-10 08:51:32,1,0,11,11,0,0,0.8,2
4,95,NaN,NaN,base,interview,2022-03-10 08:58:16,1,20,3,2,...,NaN,2022-03-10 09:08:39,1,0,11,11,0,0,0.9,4

In [40]:
df.columns

Index(['CASE', 'SERIAL', 'REF', 'QUESTNNR', 'MODE', 'STARTED', 'DE01',
       'DE02_01', 'DE03', 'PF02', 'PF04', 'PF07', 'NF01', 'NF03', 'NF05',
       'NF06', 'TIME001', 'TIME002', 'TIME003', 'TIME004', 'TIME005',
       'TIME006', 'TIME007', 'TIME008', 'TIME009', 'TIME010', 'TIME011',
       'TIME_SUM', 'MAILSENT', 'LASTDATA', 'FINISHED', 'Q_VIEWER', 'LASTPAGE',
       'MAXPAGE', 'MISSING', 'MISSREL', 'TIME_RSI', 'DEG_TIME'],
      dtype='object')

In [41]:
relevant_columns = ['CASE', 'DE01',
       'DE02_01', 'DE03', 'PF02', 'PF04', 'PF07', 'NF01', 'NF03', 'NF05', 'NF06',
        'TIME004', 'TIME005', 'TIME006', 'TIME007', 'TIME008', 'TIME009', 'TIME010']

In [42]:
df = df[relevant_columns]

In [43]:
df.head()

,CASE,DE01,DE02_01,DE03,PF02,PF04,PF07,NF01,NF03,NF05,NF06,TIME004,TIME005,TIME006,TIME007,TIME008,TIME009,TIME010
0,Interview number (ongoing),Pol,Godine: [01],Obrazovanje,Alchemist,Weapons auction,Town hero,Guard N,Butcher N,Bandit chase over N,Hospital N,Time spent on page 4,Time spent on page 5,Time spent on page 6,Time spent on page 7,Time spent on page 8,Time spent on page 9,Time spent on page 10
1,87,2,19,3,2,2,2,1,1,1,2,46,27,32,27,18,42,28
2,93,2,19,3,2,1,2,2,2,1,1,56,55,27,44,23,25,17
3,94,2,19,3,1,2,2,2,1,2,1,71,28,57,44,22,19,77
4,95,1,20,3,2,2,1,1,1,1,1,26,35,43,26,23,19,38

In [44]:
df['DE01'] = df['DE01'].replace(['1', '2', '3'], ['MuÅ¡ki', 'Å½enski', 'Ne Å¾elim da odgovorim'])

In [45]:
df['DE03'] = df['DE03'].replace(['1', '2', '3', '4', '5', '6'], [
    'ZavrÅ¡ena osnovna Å¡kola',
    'ZavrÅ¡ena srednja Å¡kola ili gimnazija',
    'Student/kinja',
    'ZavrÅ¡en fakultet ili viÅ¡a Å¡kola',
    'ZavrÅ¡ene master studije',
    'ZavrÅ¡ene doktorske studije'
])

In [46]:
df.head()

,CASE,DE01,DE02_01,DE03,PF02,PF04,PF07,NF01,NF03,NF05,NF06,TIME004,TIME005,TIME006,TIME007,TIME008,TIME009,TIME010
0,Interview number (ongoing),Pol,Godine: [01],Obrazovanje,Alchemist,Weapons auction,Town hero,Guard N,Butcher N,Bandit chase over N,Hospital N,Time spent on page 4,Time spent on page 5,Time spent on page 6,Time spent on page 7,Time spent on page 8,Time spent on page 9,Time spent on page 10
1,87,Å½enski,19,Student/kinja,2,2,2,1,1,1,2,46,27,32,27,18,42,28
2,93,Å½enski,19,Student/kinja,2,1,2,2,2,1,1,56,55,27,44,23,25,17
3,94,Å½enski,19,Student/kinja,1,2,2,2,1,2,1,71,28,57,44,22,19,77
4,95,MuÅ¡ki,20,Student/kinja,2,2,1,1,1,1,1,26,35,43,26,23,19,38

In [47]:
df = df.rename(columns={
    'CASE': '_id',
    'DE01': 'gender',
    'DE02_01': 'age',
    'DE03': 'education',
    'NF01': 'answer.Guard',
    'PF02': 'answer.Salesman',
    'NF03': 'answer.Butcher',
    'PF04': 'answer.Auction',
    'NF05': 'answer.Bandits',
    'NF06': 'answer.Doctor',
    'PF07': 'answer.Mayor'
})

In [48]:
df = df.rename(columns={
    'TIME004': 'time.Guard',
    'TIME005': 'time.Salesman',
    'TIME006': 'time.Butcher',
    'TIME007': 'time.Auction',
    'TIME008': 'time.Bandits',
    'TIME009': 'time.Doctor',
    'TIME010': 'time.Mayor'
})

In [49]:
df.head()

,_id,gender,age,education,answer.Salesman,answer.Auction,answer.Mayor,answer.Guard,answer.Butcher,answer.Bandits,answer.Doctor,time.Guard,time.Salesman,time.Butcher,time.Auction,time.Bandits,time.Doctor,time.Mayor
0,Interview number (ongoing),Pol,Godine: [01],Obrazovanje,Alchemist,Weapons auction,Town hero,Guard N,Butcher N,Bandit chase over N,Hospital N,Time spent on page 4,Time spent on page 5,Time spent on page 6,Time spent on page 7,Time spent on page 8,Time spent on page 9,Time spent on page 10
1,87,Å½enski,19,Student/kinja,2,2,2,1,1,1,2,46,27,32,27,18,42,28
2,93,Å½enski,19,Student/kinja,2,1,2,2,2,1,1,56,55,27,44,23,25,17
3,94,Å½enski,19,Student/kinja,1,2,2,2,1,2,1,71,28,57,44,22,19,77
4,95,MuÅ¡ki,20,Student/kinja,2,2,1,1,1,1,1,26,35,43,26,23,19,38

In [50]:
df.drop(df.index[0], inplace=True)

In [51]:
df.head()

,_id,gender,age,education,answer.Salesman,answer.Auction,answer.Mayor,answer.Guard,answer.Butcher,answer.Bandits,answer.Doctor,time.Guard,time.Salesman,time.Butcher,time.Auction,time.Bandits,time.Doctor,time.Mayor
1,87,Å½enski,19,Student/kinja,2,2,2,1,1,1,2,46,27,32,27,18,42,28
2,93,Å½enski,19,Student/kinja,2,1,2,2,2,1,1,56,55,27,44,23,25,17
3,94,Å½enski,19,Student/kinja,1,2,2,2,1,2,1,71,28,57,44,22,19,77
4,95,MuÅ¡ki,20,Student/kinja,2,2,1,1,1,1,1,26,35,43,26,23,19,38
5,96,Å½enski,19,Student/kinja,2,2,1,1,2,2,1,51,43,45,38,32,37,36

In [52]:
df.describe()

,_id,gender,age,education,answer.Salesman,answer.Auction,answer.Mayor,answer.Guard,answer.Butcher,answer.Bandits,answer.Doctor,time.Guard,time.Salesman,time.Butcher,time.Auction,time.Bandits,time.Doctor,time.Mayor
count,52,52,52,52,50,47,45,51,48,46,45,51,50,48,47,46,45,45
unique,52,3,7,4,2,2,2,2,2,2,2,40,35,39,34,24,29,31
top,87,Å½enski,19,Student/kinja,1,2,1,1,1,1,1,21,25,1,1,1,1,1
freq,1,43,39,44,27,24,27,29,34,30,27,3,4,3,3,6,4,6

In [53]:
df

,_id,gender,age,education,answer.Salesman,answer.Auction,answer.Mayor,answer.Guard,answer.Butcher,answer.Bandits,answer.Doctor,time.Guard,time.Salesman,time.Butcher,time.Auction,time.Bandits,time.Doctor,time.Mayor
1,87,Å½enski,19,Student/kinja,2,2,2,1,1,1,2,46,27,32,27,18,42,28
2,93,Å½enski,19,Student/kinja,2,1,2,2,2,1,1,56,55,27,44,23,25,17
3,94,Å½enski,19,Student/kinja,1,2,2,2,1,2,1,71,28,57,44,22,19,77
4,95,MuÅ¡ki,20,Student/kinja,2,2,1,1,1,1,1,26,35,43,26,23,19,38
5,96,Å½enski,19,Student/kinja,2,2,1,1,2,2,1,51,43,45,38,32,37,36
6,97,Å½enski,40,ZavrÅ¡ene master studije,1,1,1,1,1,1,2,29,25,28,18,18,24,28
7,98,Å½enski,19,Student/kinja,1,2,1,1,2,1,2,31,34,53,30,25,35,51
8,100,Å½enski,19,Student/kinja,1,1,1,2,1,1,2,59,35,62,5,13,18,4
9,101,Å½enski,19,Student/kinja,2,2,2,1,1,2,1,51,38,70,26,25,20,103
10,102,Å½enski,19,Student/kinja,2,2,1,1,1,2,2,41,97,116,100,67,179,133
11,103,Å½enski,21,Student/kinja,2,2,1,1,1,2,1,8,36,56,55,41,23,56
12,104,Å½enski,19,Student/kinja,2,2,2,2,2,1,1,37,47,52,70,20,22,37
13,105,Å½enski,19,Student/kinja,2,NaN,NaN,1,1,NaN,NaN,75,63,4,NaN,NaN,NaN,NaN
14,106,Å½enski,19,Student/kinja,2,1,1,1,2,1,1,2,4,53,39,32,31,71
15,107,Å½enski,20,Student/kinja,2,1,1,1,1,2,2,102,93,89,80,41,38,45
16,108,Å½enski,19,Student/kinja,2,1,2,2,1,1,2,42,60,73,179,46,37,69
17,109,Å½enski,19,Student/kinja,1,1,2,1,2,2,1,161,28,29,39,21,24,34
18,110,Å½enski,19,Student/kinja,1,1,1,1,1,1,1,4,2,2,3,1,2,1
19,114,Å½enski,19,Student/kinja,1,2,2,1,2,1,1,38,22,40,16,22,63,29
20,115,Ne Å¾elim da odgovorim,19,Student/kinja,2,NaN,NaN,2,NaN,NaN,NaN,61,3,NaN,NaN,NaN,NaN,NaN
21,117,Ne Å¾elim da odgovorim,19,Student/kinja,1,1,1,2,2,1,1,503,38,34,38,38,22,32
22,118,MuÅ¡ki,18,Student/kinja,2,1,1,2,1,1,1,2,1,1,1,0,1,1
23,119,MuÅ¡ki,19,ZavrÅ¡ena srednja Å¡kola ili gimnazija,2,1,1,2,1,1,2,13,2,1,0,1,1,1
24,120,Å½enski,19,ZavrÅ¡ena srednja Å¡kola ili gimnazija,1,1,1,2,2,2,1,1,1,1,0,1,1,1
25,121,Å½enski,20,Student/kinja,2,2,2,1,1,1,2,21,23,15,2,1,3,39
26,123,MuÅ¡ki,19,Student/kinja,2,2,1,1,1,1,1,21,17,31,20,14,16,22
27,124,Å½enski,19,Student/kinja,1,2,1,1,2,2,2,59,91,64,49,80,69,88
28,128,Å½enski,19,Student/kinja,1,2,2,1,1,1,2,40,25,24,16,15,20,20
29,129,Å½enski,19,Student/kinja,1,1,1,2,2,2,2,54,68,58,94,19,36,54
30,130,Å½enski,19,Student/kinja,1,1,NaN,2,1,2,NaN,26,9,17,6,12,NaN,NaN
31,131,Ne Å¾elim da odgovorim,19,Student/kinja,1,1,2,2,2,2,2,4,8,3,5,9,3,7
32,132,Å½enski,19,Student/kinja,1,1,1,1,1,1,1,85,29,29,36,22,30,94
33,133,Å½enski,19,Student/kinja,NaN,NaN,NaN,1,NaN,NaN,NaN,61,NaN,NaN,NaN,NaN,NaN,NaN
34,134,Å½enski,19,Student/kinja,2,2,2,1,1,1,1,21,14,37,17,22,13,29
35,136,Å½enski,20,Student/kinja,1,1,1,2,1,1,2,35,25,26,16,13,147,11
36,139,Å½enski,19,Student/kinja,1,2,NaN,2,1,NaN,NaN,66,137,112,1,NaN,NaN,NaN
37,140,Å½enski,19,ZavrÅ¡ena srednja Å¡kola ili gimnazija,1,2,1,2,1,1,1,45,32,40,15,15,26,21
38,141,Å½enski,19,Student/kinja,1,2,1,2,1,1,2,8,6,9,75,37,31,31
39,142,Å½enski,24,ZavrÅ¡en fakultet ili viÅ¡a Å¡kola,2,2,2,2,1,2,1,29,16,50,12,20,18,18
40,143,Å½enski,19,Student/kinja,2,2,1,1,1,2,1,50,29,41,33,21,25,25
41,144,Å½enski,19,Student/kinja,1,2,1,1,2,1,1,55,34,44,54,25,28,22
42,145,MuÅ¡ki,19,Student/kinja,1,1,2,1,2,1,1,26,14,36,12,36,56,31
43,149,Å½enski,40,ZavrÅ¡ene master studije,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,152,Å½enski,37,ZavrÅ¡ene master studije,1,1,2,2,1,1,1,53,86,34,50,37,78,45
45,153,Å½enski,19,Student/kinja,1,NaN,NaN,1,NaN,NaN,NaN,28,36,NaN,NaN,NaN,NaN,NaN
46,154,Å½enski,19,Student/kinja,1,1,2,1,1,2,1,12,3,14,27,18,17,21
47,155,Å½enski,20,Student/kinja,2,1,2,2,1,1,1,47,44,48,22,29,16,34
48,156,Å½enski,20,Student/kinja,1,2,2,2,1,1,2,23,25,29,31,22,26,28
49,157,Å½enski,20,Student/kinja,2,2,1,2,1,2,1,39,29,31,35,19,30,31
50,158,Å½enski,19,Student/kinja,2,1,1,1,1,1,1,3,2,0,1,1,0,0
51,159,MuÅ¡ki,19,ZavrÅ¡ena srednja Å¡kola ili gimnazija,1,1,1,1,1,1,2,100,51,64,32,1,1,1
52,160,Å½enski,19,Student/kinja,1,2,1,1,1,1,2,24,21,39,3,2,2,1

In [54]:
df = df.dropna()
df.tail()

,_id,gender,age,education,answer.Salesman,answer.Auction,answer.Mayor,answer.Guard,answer.Butcher,answer.Bandits,answer.Doctor,time.Guard,time.Salesman,time.Butcher,time.Auction,time.Bandits,time.Doctor,time.Mayor
48,156,Å½enski,20,Student/kinja,1,2,2,2,1,1,2,23,25,29,31,22,26,28
49,157,Å½enski,20,Student/kinja,2,2,1,2,1,2,1,39,29,31,35,19,30,31
50,158,Å½enski,19,Student/kinja,2,1,1,1,1,1,1,3,2,0,1,1,0,0
51,159,MuÅ¡ki,19,ZavrÅ¡ena srednja Å¡kola ili gimnazija,1,1,1,1,1,1,2,100,51,64,32,1,1,1
52,160,Å½enski,19,Student/kinja,1,2,1,1,1,1,2,24,21,39,3,2,2,1

In [55]:
df = df.drop(columns=['_id'])

In [57]:
sorted_columns = ['age', 'education', 'gender', 'answer.Auction', 'time.Auction',
       'answer.Bandits', 'time.Bandits', 'answer.Butcher', 'time.Butcher',
       'answer.Doctor', 'time.Doctor', 'answer.Guard', 'time.Guard',
       'answer.Mayor', 'time.Mayor', 'answer.Salesman', 'time.Salesman']

df = df.reindex(columns=sorted_columns)

In [60]:
df.to_excel('upitnik_odgovori_clean.xlsx', index=False, encoding='utf16')