In [199]:
import pandas as pd
import numpy as np

In [200]:
csv_file_one = "FAZA1_SIMULACIJA_BACKUP.csv"
csv_file_two = "FAZA2_SIMULACIJA_BACKUP.csv"
# df = pd.read_csv(csv_file, sep=',', encoding='utf8')

In [201]:
df_one = pd.read_csv(csv_file_one, sep=',', encoding='utf8', index_col='_id')
df_two = pd.read_csv(csv_file_two, sep=',', encoding='utf8', index_col='_id')

In [202]:
df_one.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
622e33d1548cf83268de479a,21,"[2,15.45180892944336]","[1,55.586448669433594]","[2,32.35079574584961]","[1,16.266294479370117]","[1,26.533924102783203]","[2,24.33388328552246]","[1,20.800439834594727]",Student/kinja,Ženski
622e5ee0548cf81b84b18ebb,20,"[2,11.55092716217041]","[2,16.30087661743164]","[2,15.233153343200684]","[1,16.567153930664062]","[1,9.366719245910645]","[2,5.315981864929199]","[1,17.000438690185547]",Student/kinja,Ženski
622e639bd2e53f07049fd2b6,22,"[1,30.58879280090332]","[1,21.797136306762695]","[1,36.41694641113281]","[1,25.91006851196289]","[2,24.145444869995117]","[2,19.948030471801758]","[2,16.83482551574707]",Student/kinja,Muški
622e75550ebcbf33dc20af6f,19,"[2,40.972476959228516]","[2,18.263925552368164]","[2,2.508765935897827]","[1,17.015825271606445]","[1,33.26237487792969]","[1,14.995850563049316]","[2,21.11560821533203]",Student/kinja,Ženski
622e799ba596ab32e0a48334,19,"[1,26.86882972717285]","[2,22.397262573242188]","[1,38.746803283691406]","[1,28.739408493041992]","[1,36.380714416503906]","[2,41.33146286010742]","[2,40.927520751953125]",Završena srednja škola ili gimnazija,Ženski

In [203]:
df_two.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
62379f74c6c9653e6c9a2a94,19,"[2,14.413254737854004]","[1,9.51274585723877]","[2,11.898252487182617]","[1,13.295769691467285]","[1,15.112628936767578]","[2,14.431286811828613]","[2,10.718328475952148]",Student/kinja,Ženski
62379ff3768a4500e8b9f8c1,20,"[2,25.797773361206055]","[1,18.297727584838867]","[1,29.998682022094727]","[2,23.20950698852539]","[1,47.45643615722656]","[2,29.229185104370117]","[2,27.697288513183594]",Student/kinja,Ženski
6237a052456b6c23ac7a14b5,19,"[1,7.532841205596924]","[2,16.732404708862305]","[1,10.330426216125488]","[2,18.398197174072266]","[1,18.264862060546875]","[1,17.714975357055664]","[1,14.033276557922363]",Student/kinja,Ženski
6237a059898635261cf94208,19,"[2,43.46845245361328]","[2,11.650673866271973]","[2,16.5837459564209]","[1,16.500343322753906]","[1,11.51737117767334]","[1,4.899977684020996]","[1,12.450563430786133]",Student/kinja,Ženski
6237a108949b6f1d44f0c093,24,"[1,13.33966064453125]","[2,34.0185432434082]","[1,15.919883728027344]","[1,30.88307762145996]","[2,14.298136711120605]","[2,11.948404312133789]","[1,21.295761108398438]",Završen fakultet ili viša škola,Ženski

In [204]:
phase_one_indexes = list(df_one.index)
phase_one_indexes

['62290c01bad7ec40d0c4dfb7',
 '622918843f63776150a5a5d4',
 '62291b680487460c605ccd8d',
 '62292051a9c3b92830825b80',
 '622921dbcdf9091b8431ac25',
 '622924d7c735bd36600c88ed',
 '6229267c1ba05d2324c749b1',
 '6229292bb90c5a31c03cc4ee',
 '62292ab28f79d4310cf6c5a6',
 '62292bddb90c5a29d89910e9',
 '6229b9185683441f709724a2',
 '6229c9e96aad443c1cf57203',
 '6229d1c74843595714a035e5',
 '6229d34bec3fc63ea421d08e',
 '6229e13384b24029f0c2be9b',
 '6229efdac8d2ac3f1cf183fa',
 '622a08e7f8be540ddc234114',
 '622a0c46cc68e22d48886502',
 '622a1bfe83490435f84939ae',
 '622a1ca2f8d75037a8bcd874',
 '622a2faa60ac1d89d4b6bc43',
 '622a58f36f44060368d5ab68',
 '622a9e0e1cd1b91ab03cf757',
 '622b2ee4aaf6ff08b08dbbdc',
 '622b3133234e17229c743522',
 '622b3418cd78653170d56617',
 '622b3f5bbd71db29949ba3f6',
 '622b8e527d1c920b2cf1789d',
 '622b9c9f7b0c312c34ca4825',
 '622ba1dcb90ce240d87bfe96',
 '622bac0db08b4721b89ec357',
 '622c4603bc9cdd1518740cc6',
 '622c8e47a472f31e384e463a',
 '622c96b7448cc611a875f612',
 '622ca2bd31d3391f302c077a',
 '622caf91b5c8cc2180d736b2',
 '622cbdb84d472046302217c7',
 '622cbf6864180e2d386e8b3f',
 '622d3efc6f6102669c31820e',
 '622d40936f610206d4607c11',
 '622cc969e2630122fc20e170',
 '622d039f4d52f729d48102c3',
 '622e2213862231164ce2acbe',
 '622e33d1548cf83268de479a',
 '622e5ee0548cf81b84b18ebb',
 '622e639bd2e53f07049fd2b6',
 '622e75550ebcbf33dc20af6f',
 '622e799ba596ab32e0a48334']

In [205]:
df_two = df_two.drop(phase_one_indexes)
df_two.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
62379f74c6c9653e6c9a2a94,19,"[2,14.413254737854004]","[1,9.51274585723877]","[2,11.898252487182617]","[1,13.295769691467285]","[1,15.112628936767578]","[2,14.431286811828613]","[2,10.718328475952148]",Student/kinja,Ženski
62379ff3768a4500e8b9f8c1,20,"[2,25.797773361206055]","[1,18.297727584838867]","[1,29.998682022094727]","[2,23.20950698852539]","[1,47.45643615722656]","[2,29.229185104370117]","[2,27.697288513183594]",Student/kinja,Ženski
6237a052456b6c23ac7a14b5,19,"[1,7.532841205596924]","[2,16.732404708862305]","[1,10.330426216125488]","[2,18.398197174072266]","[1,18.264862060546875]","[1,17.714975357055664]","[1,14.033276557922363]",Student/kinja,Ženski
6237a059898635261cf94208,19,"[2,43.46845245361328]","[2,11.650673866271973]","[2,16.5837459564209]","[1,16.500343322753906]","[1,11.51737117767334]","[1,4.899977684020996]","[1,12.450563430786133]",Student/kinja,Ženski
6237a108949b6f1d44f0c093,24,"[1,13.33966064453125]","[2,34.0185432434082]","[1,15.919883728027344]","[1,30.88307762145996]","[2,14.298136711120605]","[2,11.948404312133789]","[1,21.295761108398438]",Završen fakultet ili viša škola,Ženski

In [223]:
# df = df_one
df = df_two

In [224]:
df_answers = df.filter(regex='answers')

In [225]:
df.drop(list(df.filter(regex = 'answers')), axis = 1, inplace = True)
df.head()

                          age                education  gender
_id
6232ffebcc727615b403eee9   40  Završene master studije  Ženski
6233249b98effb197c4b0cb7   19            Student/kinja   Muški
623333687fb6c82f38bf4bfb   20            Student/kinja  Ženski
62333a2194dc3a47dc37322e   19            Student/kinja  Ženski
62333a3316a4d71d3c0de580   19            Student/kinja  Ženski

In [226]:
df_answers.head()

,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman
_id,,,,,,,
6232ffebcc727615b403eee9,"[1,12.110893249511719]","[2,12.64694881439209]","[2,15.422917366027832]","[2,15.816387176513672]","[1,25.39178466796875]","[1,18.081769943237305]","[1,20.39946174621582]"
6233249b98effb197c4b0cb7,"[1,22.059982299804688]","[1,16.229394912719727]","[2,47.37125015258789]","[1,12.01337718963623]","[1,15.22973346710205]","[2,23.660255432128906]","[2,24.22750473022461]"
623333687fb6c82f38bf4bfb,"[2,18.86162567138672]","[1,20.789865493774414]","[2,37.6954345703125]","[1,22.011003494262695]","[1,22.566192626953125]","[2,31.50722312927246]","[2,24.540197372436523]"
62333a2194dc3a47dc37322e,"[1,19.299348831176758]","[2,16.949113845825195]","[1,20.715295791625977]","[1,22.949031829833984]","[1,20.89896011352539]","[2,25.582443237304688]","[1,29.032670974731445]"
62333a3316a4d71d3c0de580,"[2,17.219968795776367]","[1,11.075602531433105]","[1,17.318735122680664]","[1,12.889298439025879]","[1,16.23708724975586]","[2,15.819808006286621]","[1,20.46520233154297]"

In [227]:
df_answers_new = df_answers

In [228]:
for column in df_answers_new.columns:
    task_name = column.split('.')[1]
    
    split_df = df_answers_new[column].str.split(',', expand=True)
    split_df = split_df.add_prefix('{}_'.format(task_name))

    df_answers_new.drop(column, axis=1, inplace=True)
    
    df_answers_new = pd.merge(df_answers_new, split_df, on='_id')

C:\Users\saras\AppData\Local\Temp/ipykernel_11160/3418691183.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_answers_new.drop(column, axis=1, inplace=True)

In [229]:
df_answers_new = df_answers_new.replace(r'\[|\]', '', regex=True)

In [230]:
df_answers_new.head()

,Auction_0,Auction_1,Bandits_0,Bandits_1,Butcher_0,Butcher_1,Doctor_0,Doctor_1,Guard_0,Guard_1,Mayor_0,Mayor_1,Salesman_0,Salesman_1
_id,,,,,,,,,,,,,,
6232ffebcc727615b403eee9,1,12.110893249511719,2,12.64694881439209,2,15.422917366027832,2,15.816387176513672,1,25.39178466796875,1,18.081769943237305,1,20.39946174621582
6233249b98effb197c4b0cb7,1,22.059982299804688,1,16.229394912719727,2,47.37125015258789,1,12.01337718963623,1,15.22973346710205,2,23.660255432128906,2,24.22750473022461
623333687fb6c82f38bf4bfb,2,18.86162567138672,1,20.789865493774414,2,37.6954345703125,1,22.011003494262695,1,22.566192626953125,2,31.50722312927246,2,24.540197372436523
62333a2194dc3a47dc37322e,1,19.299348831176758,2,16.949113845825195,1,20.715295791625977,1,22.949031829833984,1,20.89896011352539,2,25.582443237304688,1,29.032670974731445
62333a3316a4d71d3c0de580,2,17.219968795776367,1,11.075602531433105,1,17.318735122680664,1,12.889298439025879,1,16.23708724975586,2,15.819808006286621,1,20.46520233154297

In [231]:
df_answers_new.columns = df_answers_new.columns.str.replace("0", "Answer")
df_answers_new.columns = df_answers_new.columns.str.replace("1", "Time")

In [232]:
df_answers_new.head()

,Auction_Answer,Auction_Time,Bandits_Answer,Bandits_Time,Butcher_Answer,Butcher_Time,Doctor_Answer,Doctor_Time,Guard_Answer,Guard_Time,Mayor_Answer,Mayor_Time,Salesman_Answer,Salesman_Time
_id,,,,,,,,,,,,,,
6232ffebcc727615b403eee9,1,12.110893249511719,2,12.64694881439209,2,15.422917366027832,2,15.816387176513672,1,25.39178466796875,1,18.081769943237305,1,20.39946174621582
6233249b98effb197c4b0cb7,1,22.059982299804688,1,16.229394912719727,2,47.37125015258789,1,12.01337718963623,1,15.22973346710205,2,23.660255432128906,2,24.22750473022461
623333687fb6c82f38bf4bfb,2,18.86162567138672,1,20.789865493774414,2,37.6954345703125,1,22.011003494262695,1,22.566192626953125,2,31.50722312927246,2,24.540197372436523
62333a2194dc3a47dc37322e,1,19.299348831176758,2,16.949113845825195,1,20.715295791625977,1,22.949031829833984,1,20.89896011352539,2,25.582443237304688,1,29.032670974731445
62333a3316a4d71d3c0de580,2,17.219968795776367,1,11.075602531433105,1,17.318735122680664,1,12.889298439025879,1,16.23708724975586,2,15.819808006286621,1,20.46520233154297

In [233]:
df = pd.merge(df, df_answers_new, on='_id')
df.head()

,age,education,gender,Auction_Answer,Auction_Time,Bandits_Answer,Bandits_Time,Butcher_Answer,Butcher_Time,Doctor_Answer,Doctor_Time,Guard_Answer,Guard_Time,Mayor_Answer,Mayor_Time,Salesman_Answer,Salesman_Time
_id,,,,,,,,,,,,,,,,,
6232ffebcc727615b403eee9,40,Završene master studije,Ženski,1,12.110893249511719,2,12.64694881439209,2,15.422917366027832,2,15.816387176513672,1,25.39178466796875,1,18.081769943237305,1,20.39946174621582
6233249b98effb197c4b0cb7,19,Student/kinja,Muški,1,22.059982299804688,1,16.229394912719727,2,47.37125015258789,1,12.01337718963623,1,15.22973346710205,2,23.660255432128906,2,24.22750473022461
623333687fb6c82f38bf4bfb,20,Student/kinja,Ženski,2,18.86162567138672,1,20.789865493774414,2,37.6954345703125,1,22.011003494262695,1,22.566192626953125,2,31.50722312927246,2,24.540197372436523
62333a2194dc3a47dc37322e,19,Student/kinja,Ženski,1,19.299348831176758,2,16.949113845825195,1,20.715295791625977,1,22.949031829833984,1,20.89896011352539,2,25.582443237304688,1,29.032670974731445
62333a3316a4d71d3c0de580,19,Student/kinja,Ženski,2,17.219968795776367,1,11.075602531433105,1,17.318735122680664,1,12.889298439025879,1,16.23708724975586,2,15.819808006286621,1,20.46520233154297

In [234]:
df.columns = df.columns.str.replace("age", "Age")
df.columns = df.columns.str.replace("education", "Education")
df.columns = df.columns.str.replace("gender", "Gender")

In [235]:
df = df.reset_index(drop=True)

In [236]:
df.head()

,Age,Education,Gender,Auction_Answer,Auction_Time,Bandits_Answer,Bandits_Time,Butcher_Answer,Butcher_Time,Doctor_Answer,Doctor_Time,Guard_Answer,Guard_Time,Mayor_Answer,Mayor_Time,Salesman_Answer,Salesman_Time
0,40,Završene master studije,Ženski,1,12.110893249511719,2,12.64694881439209,2,15.422917366027832,2,15.816387176513672,1,25.39178466796875,1,18.081769943237305,1,20.39946174621582
1,19,Student/kinja,Muški,1,22.059982299804688,1,16.229394912719727,2,47.37125015258789,1,12.01337718963623,1,15.22973346710205,2,23.660255432128906,2,24.22750473022461
2,20,Student/kinja,Ženski,2,18.86162567138672,1,20.789865493774414,2,37.6954345703125,1,22.011003494262695,1,22.566192626953125,2,31.50722312927246,2,24.540197372436523
3,19,Student/kinja,Ženski,1,19.299348831176758,2,16.949113845825195,1,20.715295791625977,1,22.949031829833984,1,20.89896011352539,2,25.582443237304688,1,29.032670974731445
4,19,Student/kinja,Ženski,2,17.219968795776367,1,11.075602531433105,1,17.318735122680664,1,12.889298439025879,1,16.23708724975586,2,15.819808006286621,1,20.46520233154297

In [237]:
df.to_excel('faza2_simulacija_odgovori_clean.xlsx', index=False, encoding='utf16')